{% extends '@FOSUser/layout.html.twig' %}

{% block body %}
    <div class="logo">
        <a href="javascript:void(0);"><b>Mi</b>nventario</a>
        <small>{{ 'page.main_description'|trans }}</small>
    </div>
    <div class="card">
        <div class="body">
            <div class="msg">{{ 'page.login.msg'|trans }}</div>
            {{ include('@FOSUser/Security/login_content.html.twig') }}
            <div class="row m-t-15 m-b--20">
                <div class="col-xs-6">
                    <a href="{{ path('fos_user_registration_register') }}">{{ 'security.layout.register'|trans }}!</a>
                </div>
                <div class="col-xs-6 align-right">
                    <a href="{{ path('fos_user_resetting_request') }}">{{ 'security.layout.forgot'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
