{% extends 'base.html.twig' %}

{% block body %}
    <div class="block-header">
        <h2>DASHBOARD</h2>
    </div>

    <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-pink hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">dns</i>
                </div>
                <div class="content">
                    <div class="text">{{ 'page.titles.material'|trans|upper }}</div>
                    <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20">{{ totals.materials }}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-cyan hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">assignment</i>
                </div>
                <div class="content">
                    <div class="text">{{ 'page.titles.formula'|trans|upper }}</div>
                    <div class="number count-to">{{ totals.formulas }}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-light-green hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">extension</i>
                </div>
                <div class="content">
                    <div class="text">{{ 'page.titles.product'|trans|upper }}</div>
                    <div class="number count-to">{{ totals.products }}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-orange hover-expand-effect">
                <div class="icon">
                    <i class="material-icons">collections_bookmark</i>
                </div>
                <div class="content">
                    <div class="text">{{ 'page.titles.production'|trans|upper }}</div>
                    <div class="number count-to">{{ totals.productions }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

        </div>
    </div>
{% endblock %}