{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" id="forgot_password" method="POST">

    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">email</i>
        </span>
        <div class="form-line">
            <input type="text" class="form-control" name="username" placeholder="{{ 'resetting.request.username'|trans }}" required autofocus>
        </div>
    </div>

    <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">{{ 'resetting.request.submit'|trans }}</button>

    <div class="row m-t-20 m-b--5 align-center">
        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans }}!</a>
    </div>
</form>