{% extends 'base.html.twig' %}

{% block title %}{{ 'page.titles.material'|trans }}{% endblock %}
{% set menu = 2 %}

{% block body %}
    <div class="block-header">
        <h2>{{ 'page.titles.material'|trans }}</h2>
    </div>
    <div class="row clearfix" ng-controller="newMaterial as vm" ng-init="vm.list()">
        <div class="col-sm-12">
            <div class="card">
                <div class="header">
                    <h2>Lista</h2>
                    <ul class="header-dropdown m-r--5">
                        <li>
                            <a href="{{ path('material_new') }}" class="btn btn-success">Nueva Materia Prima</a>
                        </li>
                        <li>
                            <a href="{{ path('material_inventory') }}" class="btn btn-info">Ajustar Inventario</a>
                        </li>
                        <li>
                            <a href="{{ path('material_order') }}" class="btn btn-success">Ingresar Compra</a>
                        </li>
                        <li>
                            <a href="{{ path('history_index', {type: 1}) }}" class="btn btn-info">Historial</a>
                        </li>
                    </ul>
                </div>
                <div class="body table-responsive">
                    <div class="row clearfix">
                        <div class="col-md-6">
                            {% include 'shared/_search.htmt.twig' %}
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Código</th>
                            <th>Cantidad</th>
                            <th>Unidad</th>
                            <th>Costo Unitario</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="material in vm.materials | filter: {name: vm.q} as results">
                                <td ng-bind="$index + 1"></td>
                                <td ng-bind="material.name"></td>
                                <td ng-bind="material.code"></td>
                                <td ng-bind="material.amount"></td>
                                <td ng-bind="material.unit"></td>
                                <td ng-bind="material.price|currency"></td>
                                <td>{% verbatim %}
                                    <a ng-href="{{ vm.getShowUrl(material.id) }}"
                                       class="waves-effect">
                                        <i class="material-icons">visibility</i>
                                    </a>
                                    <a ng-href="{{ vm.getEditUrl(material.id) }}"
                                       class="waves-effect">
                                        <i class="material-icons">edit</i>
                                    </a>
                                </td>{% endverbatim %}
                            </tr>
                            <tr ng-if="results.length === 0">
                                <td colspan="7">{{ 'page.no_records'|trans }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/material-new.js') }}"></script>
{% endblock %}