{% extends 'base.html.twig' %}

{% block title %}Material index{% endblock %}

{% block body %}
    <div class="block-header">
        <h2>Materia Prima</h2>
    </div>
    <div class="row clearfix">
        <div class="col-sm-12">
            <div class="card">
                <div class="header">
                    <h2>Lista</h2>
                    <ul class="header-dropdown m-r--5">
                        <li>
                            <a href="{{ path('material_new') }}" title="Agregar">
                                <i class="material-icons">add</i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Código</th>
                            <th>Cantidad</th>
                            <th>Unidad</th>
                            <th>Costo Unitario</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for material in materials %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ material.name }}</td>
                                <td>{{ material.code }}</td>
                                <td>{{ material.amount }}</td>
                                <td>{{ material.unit }}</td>
                                <td>{{ material.price }}</td>
                                <td>
                                    <a href="{{ path('material_show', {'id': material.id}) }}"
                                       class="waves-effect">
                                        <i class="material-icons">arrow_forward_ios</i>
                                    </a>
                                    <a href="{{ path('material_edit', {'id': material.id}) }}"
                                       class="waves-effect">
                                        <i class="material-icons">edit</i>
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="7">No fueron encontrados registros</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}