{% extends 'base.html.twig' %}

{% block title %} {{ material.name }}{% endblock %}

{% block body %}
    <div class="block-header">
        <h2>{{ 'page.titles.material'|trans }}</h2>
    </div>
    <div class="row clearfix">
        <div class="col-sm-12">
            <div class="card">
                <div class="header">
                    <h2>{{ material.name }}</h2>
                    <ul class="header-dropdown m-r--5">
                        <li>
                            <a href="{{ path('material_edit', {'id': material.id}) }}" title="Editar">
                                <i class="material-icons">edit</i>
                            </a>
                        </li>
                        <li>
                            <a href="#"
                               type="button"
                               onclick="remove()"
                               class="text-danger"
                               title="Eliminar">
                                <i class="material-icons">delete</i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <h2 class="card-inside-title">Información de Materia Prima</h2>
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <th class="col-xs-6">Nombre</th>
                            <td>{{ material.name }}</td>
                        </tr>
                        <tr>
                            <th>Código</th>
                            <td>{{ material.code }}</td>
                        </tr>
                        <tr>
                            <th>Cantidad por Presentación</th>
                            <td>{{ material.amount }}</td>
                        </tr>
                        <tr>
                            <th>Unidad</th>
                            <td>{{ material.unit }}</td>
                        </tr>
                        <tr>
                            <th>Costo por Presentación</th>
                            <td>{{ material.packingPrice|currency(0) }}</td>
                        </tr>
                        <tr>
                            <th>Costo Unitario</th>
                            <td>{{ material.price|currency(0) }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <h2 class="card-inside-title">Información del Inventario</h2>
                    <table class="table table-condensed">
                        <tbody>
                        <tr>
                            <th class="col-xs-6">Cantidad Actual</th>
                            <td>{{ material.stock }}</td>
                        </tr>
                        <tr>
                            <th>Valor de Inventario</th>
                            <td>{{ (material.stock * material.price) }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <h2 class="card-inside-title">Balance de Movimientos</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Tipo de Movimiento</th>
                            <th>Cambio</th>
                            <th>Responsable</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for history in histories %}
                            <tr>
                                <td>{{ history.date|date('d-m-Y') }}</td>
                                <td>{{ history.action }}</td>
                                <td>{{ history.amount }}</td>
                                <td>{{ history.username }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="8">{{ 'page.no_records'|trans }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="center">
                        <p style="font-size: 18px">
                            <b>{{ material.amount }}</b> <b>{{ material.unit }}</b> de <b>{{ material.name }}</b> cuesta(n) <b>{{ material.packingPrice|currency }}</b><br>
                            lo que quiere decir que cada <b>{{ material.unit }}</b> cuesta <b>{{ material.price|currency }}</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ include('material/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}
    <script>
        function remove() {
            swal({
                title: "Estas Seguro?",
                text: "Tú no podras revertir esta acción!",
                icon: "warning",
                dangerMode: true,
                buttons: {
                    cancel: true,
                    confirm: true,
                },
            }).then(willDelete => {
                    if (willDelete) {
                        document.getElementById('frmDelete').submit();
                    }
                });
        }
    </script>
{% endblock %}