{% trans_default_domain 'FOSUserBundle' %}
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register')}) }}
    <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">person</i>
                            </span>
        <div class="form-line">
            {{ form_widget(form.username, { 'attr': {'placeholder': 'form.username', 'autofocus': 'true'} }) }}
        </div>
        {{ form_errors(form.username) }}
    </div>
    <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">email</i>
                            </span>
        <div class="form-line">
            {{ form_widget(form.email, { 'attr': {'placeholder': 'form.email'} }) }}
        </div>
        {{ form_errors(form.email) }}
    </div>
    <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">lock</i>
                            </span>
        <div class="form-line">
            {{ form_widget(form.plainPassword.first, { 'attr': {'placeholder': 'form.password'} }) }}
        </div>
        {{ form_errors(form.plainPassword.first) }}
    </div>
    <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">lock</i>
                            </span>
        <div class="form-line">
            {{ form_widget(form.plainPassword.second, { 'attr': {'placeholder': 'form.password_confirmation'} }) }}
        </div>
        {{ form_errors(form.plainPassword.second) }}
    </div>
{{ form_widget(form._token) }}

<button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">{{ 'registration.submit'|trans }}</button>
{{ form_end(form) }}