{% extends 'base.html.twig' %}

{% block title %}{{ 'page.titles.formula'|trans }}{% endblock %}
{% set menu = 3 %}

{% block body %}
    <div class="block-header">
        <h2>{{ 'page.titles.formula'|trans }}</h2>
    </div>
    <div class="row clearfix" ng-controller="indexFormula as vm">
        <div class="col-sm-12">
            <div class="card">
                <div class="header">
                    <h2>Lista</h2>
                    <ul class="header-dropdown m-r--5">
                        <li>
                            <a href="{{ path('formula_new') }}" class="btn btn-success">Nueva Formulación</a>
                        </li>
                    </ul>
                </div>
                <div class="body table-responsive">
                    <div class="row clearfix">
                        <div class="col-md-6">
                            {% include 'shared/_search.htmt.twig' %}
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Cantidad Base</th>
                            <th>Unidad Base</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="formula in vm.formulas | orderBy: 'name' | filter: {name: vm.q} as results">
                                <td ng-bind="$index + 1"></td>
                                <td ng-bind="formula.name"></td>
                                <td ng-bind="formula.amount"></td>
                                <td ng-bind="formula.unit"></td>
                                <td>{% verbatim %}
                                    <a ng-href="{{ vm.getShowUrl(formula.id) }}"
                                       class="waves-effect">
                                        <i class="material-icons">visibility</i>
                                    </a>
                                    <a ng-href="{{ vm.getEditUrl(formula.id) }}"
                                       class="waves-effect">
                                        <i class="material-icons">edit</i>
                                    </a>
                                    <span class="waves-effect" ng-click="vm.copy(formula)">
                                        <i class="material-icons">file_copy</i>
                                    </span>
                                </td>{% endverbatim %}
                            </tr>
                            <tr ng-if="results.length === 0">
                                <td colspan="5">{{ 'page.no_records'|trans }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/formula-index.js') }}"></script>
{% endblock %}