{% extends 'base.html.twig' %}

{% block title %}{{ 'page.titles.formula'|trans }}{% endblock %}

{% block body %}
    <div class="block-header">
        <h2>{{ 'page.titles.formula'|trans }}</h2>
    </div>
    <div class="row clearfix">
        <div class="col-sm-12">
            <div class="card">
                <div class="header">
                    <h2>Lista</h2>
                    <ul class="header-dropdown m-r--5">
                        <li>
                            <a href="{{ path('formula_new') }}">
                                <i class="material-icons">add</i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Amount</th>
                            <th>Unit</th>
                            <th>Notes</th>
                            <th>acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for formula in formulas %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ formula.name }}</td>
                                <td>{{ formula.amount }}</td>
                                <td>{{ formula.unit }}</td>
                                <td>{{ formula.notes }}</td>
                                <td>
                                    <a href="{{ path('formula_edit', {'id': formula.id}) }}">editar</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">No se encontraron registros</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}