{% extends 'base.html.twig' %}

{% block title %}{{ 'page.titles.formula'|trans }}{% endblock %}

{% block body %}
    <div class="block-header">
        <h2>{{ 'page.titles.formula'|trans }}</h2>
    </div>
    <div class="row clearfix">
        <div class="col-sm-12">
            <div class="card">
                <div class="header">
                    <h2>Lista</h2>
                    <ul class="header-dropdown m-r--5">
                        <li>
                            <a href="{{ path('formula_new') }}" class="btn btn-success">Nueva Formulación</a>
                        </li>
                    </ul>
                </div>
                <div class="body table-responsive">
                    <div class="row clearfix">
                        <div class="col-md-6">
                            {% include 'shared/_search.htmt.twig' with {url: path('formula_index')} only %}
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Cantidad Base</th>
                            <th>Unidad Base</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for formula in formulas %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ formula.name }}</td>
                                <td>{{ formula.amount }}</td>
                                <td>{{ formula.unit }}</td>
                                <td>
                                    <a href="{{ path('formula_show', {'id': formula.id}) }}"
                                       class="waves-effect">
                                        <i class="material-icons">visibility</i>
                                    </a>
                                    <a href="{{ path('formula_edit', {'id': formula.id}) }}"
                                       class="waves-effect">
                                        <i class="material-icons">edit</i>
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">No se encontraron registros</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}