{% extends 'base.html.twig' %}

{% block title %}{{ 'page.titles.product'|trans }}{% endblock %}
{% set menu = 4 %}

{% block body %}
    <div class="block-header">
        <h2>{{ 'page.titles.product'|trans }}</h2>
    </div>
    <div class="row clearfix" ng-controller="indexProduct as vm">
        <div class="col-sm-12">
            <div class="card">
                <div class="header">
                    <h2>Lista</h2>
                    <ul class="header-dropdown m-r--5">
                        <li>
                            <a href="{{ path('product_new') }}" class="btn btn-success">Nuevo Producto</a>
                        </li>
                    </ul>
                </div>
                <div class="body table-responsive">
                    <div class="row clearfix">
                        <div class="col-md-6">
                            {% include 'shared/_search.htmt.twig' %}
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Código</th>
                            <th>Cantidad</th>
                            <th>Costo Unitario</th>
                            <th>Costo Inventario</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="product in vm.products | orderBy: 'name' | filter: {name: vm.q} as results">
                                <td ng-bind="$index + 1"></td>
                                <td ng-bind="product.name"></td>
                                <td ng-bind="product.code"></td>
                                <td ng-bind="product.stock"></td>
                                <td ng-bind="product.price|currency:'$':0"></td>
                                <td ng-bind="(product.amount * product.price)|currency:'$':0"></td>
                                <td>{% verbatim %}
                                    <a ng-href="{{ vm.getShowUrl(product.id) }}"
                                       class="waves-effect">
                                        <i class="material-icons">visibility</i>
                                    </a>
                                    <a ng-href="{{ vm.getEditUrl(product.id) }}"
                                       class="waves-effect">
                                        <i class="material-icons">edit</i>
                                    </a>
                                    <span class="waves-effect text-info" ng-click="vm.copy(product)">
                                        <i class="material-icons">file_copy</i>
                                    </span>
                                </td>{% endverbatim %}
                            </tr>
                            <tr ng-if="results.length === 0">
                                <td colspan="7">{{ 'page.no_records'|trans }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/product/index.js') }}"></script>
{% endblock %}