<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Minventario!{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{ asset('build/vendor.css') }}">
        <link rel="stylesheet" href="{{ asset('build/admin.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="theme-red">
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Por favor, espere...</p>
        </div>
    </div>
    <div class="overlay"></div>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" href="{{ path('home_page') }}">MINVENTARIO</a>
            </div>
        </div>
    </nav>
    <section>
        <aside id="leftsidebar" class="sidebar">
            <div class="user-info">
                <div class="image">
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ app.user.username }}</div>
                    <div class="email">{{ app.user.email }}</div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}"><i class="material-icons">input</i>{{ 'security.layout.logout'|trans }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="menu">
                <ul class="list">
                    <li class="header">Menu Principal</li>
                    <li class="active">
                        <a href="{{ path('home_page') }}">
                            <i class="material-icons">home</i>
                            <span>{{ 'page.titles.home'|trans }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('material_index') }}">
                            <i class="material-icons">dns</i>
                            <span>{{ 'page.titles.material'|trans }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('formula_index') }}">
                            <i class="material-icons">assignment</i>
                            <span>{{ 'page.titles.formula'|trans }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('product_index') }}">
                            <i class="material-icons">extension</i>
                            <span>{{ 'page.titles.product'|trans }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('production_index') }}">
                            <i class="material-icons">collections_bookmark</i>
                            <span>{{ 'page.titles.production'|trans }}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="legal">
                <div class="version">
                    <b>Version: </b> 1.0.0
                </div>
            </div>
        </aside>
    </section>

    <section class="content">
        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>
    </section>
        <script src="{{ asset('build/manifest.js') }}"></script>
        <script src="{{ asset('build/vendor.js') }}"></script>
        <script src="{{ asset('build/admin.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
