{% extends 'base.html.twig' %}

{% block title %}{{ 'page.titles.history'|trans }}{% endblock %}

{% block body %}
    <div class="block-header">
        <h2>{{ 'page.titles.history'|trans }}</h2>
    </div>
    <div class="row clearfix" ng-controller="indexHistory as vm" ng-init="vm.list('{{ type }}')">
        <div class="col-sm-12">
            <div class="card">
                <div class="header">
                    <h2>Lista</h2>
                </div>
                <div class="body table-responsive">
                    <div class="row clearfix">
                        <div class="col-md-6">
                            {% include 'shared/_search.htmt.twig' %}
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Fecha</th>
                            <th>Nombre</th>
                            <th>Código</th>
                            <th>Tipo de Movimiento</th>
                            <th>Cambio</th>
                            <th>Cantidad Final</th>
                            <th>Responsable</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="history in vm.histories | filter: {name: vm.q} as results">
                                <td ng-bind="$index + 1"></td>
                                <td ng-bind="history.date|date:'dd-MM-yyyy'"></td>
                                <td ng-bind="history.name"></td>
                                <td ng-bind="history.code"></td>
                                <td ng-bind="history.action"></td>
                                <td ng-bind="history.amount"></td>
                                <td ng-bind="history.total"></td>
                                <td ng-bind="history.username"></td>
                            </tr>
                            <tr ng-if="results.length === 0">
                                <td colspan="8">{{ 'page.no_records'|trans }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/history-index.js') }}"></script>
{% endblock %}