{% extends 'base.html.twig' %}

{% block title %}Producci처n{% endblock %}
{% set menu = 5 %}

{% block body %}
    <div class="block-header">
        <h2>Producci처n</h2>
    </div>
    <div class="row clearfix" ng-controller="indexProduction as vm">
        <div class="col-sm-12">
            <div class="card">
                <div class="header">
                    <h2>Lista</h2>
                    <ul class="header-dropdown m-r--5">
                        <li>
                            <a href="{{ path('production_new') }}" class="btn btn-success">Nueva Orden de Producci처n</a>
                        </li>
                    </ul>
                </div>
                <div class="body table-responsive">
                    <div class="row clearfix">
                        <div class="col-md-6">
                            {% include 'shared/_search.htmt.twig' %}
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Estado</th>
                            <th>N첫mero de Orden</th>
                            <th>Cliente</th>
                            <th>Producto</th>
                            <th>Total de Unidades</th>
                            <th>Costo Unitario</th>
                            <th>Total Kg</th>
                            <th>Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="production in vm.productions | orderBy: 'code' | filter: {code: vm.q} as results">
                                <td ng-bind="production.state"></td>
                                <td ng-bind="production.code"></td>
                                <td ng-bind="production.client"></td>
                                <td ng-bind="production.product"></td>
                                <td ng-bind="production.amount"></td>
                                <td ng-bind="production.price|currency"></td>
                                <td ng-bind="production.weight"></td>
                                <td>{% verbatim %}
                                    <a ng-href="{{ vm.getShowUrl(production.id) }}"
                                       class="waves-effect">
                                        <i class="material-icons">visibility</i>
                                    </a>
                                    <a ng-href="{{ vm.getEditUrl(production.id) }}"
                                       class="waves-effect">
                                        <i class="material-icons">edit</i>
                                    </a>
                                    <span class="waves-effect text-info" ng-click="vm.copy(production)">
                                        <i class="material-icons">file_copy</i>
                                    </span>
                                </td>{% endverbatim %}
                            </tr>
                            <tr ng-if="results.length === 0">
                                <td colspan="8">{{ 'page.no_records'|trans }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('build/production/index.js') }}"></script>
{% endblock %}