{% extends 'base.html.twig' %}

{% block title %}Producción{% endblock %}

{% block body %}
    <div class="block-header">
        <h2>Producción</h2>
    </div>
    <div class="row clearfix">
        <div class="col-sm-12">
            <div class="card">
                <div class="header">
                    <h2>Lista</h2>
                    <ul class="header-dropdown m-r--5">
                        <li>
                            <a href="{{ path('production_new') }}" class="btn btn-success">Nueva Orden de Producción</a>
                        </li>
                    </ul>
                </div>
                <div class="body table-responsive">
                    <div class="row clearfix">
                        <div class="col-md-6">
                            {% include 'shared/_search.htmt.twig' with {url: path('production_index')} only %}
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Cliente</th>
                            <th>Producto</th>
                            <th>Total de Unidades</th>
                            <th>Costo Unitario</th>
                            <th>Total Kg</th>
                            <th>Total Costo</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for production in productions %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ production.client }}</td>
                                <td>{{ production.product.name }}</td>
                                <td>{{ production.amount }}</td>
                                <td>{{ production.price }}</td>
                                <td>{{ production.weight }}</td>
                                <td>{{ production.price * production.amount }}</td>
                                <td>{{ production.state|state }}</td>
                                <td>
                                    <a href="{{ path('production_show', {'id': production.id}) }}"
                                       class="waves-effect">
                                        <i class="material-icons">visibility</i>
                                    </a>
                                    <a href="{{ path('production_edit', {'id': production.id}) }}"
                                       class="waves-effect">
                                        <i class="material-icons">edit</i>
                                    </a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="9">No se encontraron registros</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}