{% extends 'base.html.twig' %}

{% block title %}Producción{% endblock %}

{% block body %}
    <div class="block-header">
        <h2>Producción</h2>
    </div>
    <div class="row clearfix">
        <div class="col-sm-12">
            <div class="card">
                <div class="header">
                    <h2>Lista</h2>
                    <ul class="header-dropdown m-r--5">
                        <li>
                            <a href="{{ path('production_new') }}">
                                <i class="material-icons">add</i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Client</th>
                            <th>State</th>
                            <th>Amount</th>
                            <th>Weight</th>
                            <th>Price</th>
                            <th>acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for production in productions %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ production.client }}</td>
                                <td>{{ production.state }}</td>
                                <td>{{ production.amount }}</td>
                                <td>{{ production.weight }}</td>
                                <td>{{ production.price }}</td>
                                <td>
                                    <a href="{{ path('production_edit', {'id': formula.id}) }}">editar</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">No se encontraron registros</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}